@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	overflow: hidden;
background-size:cover;
}

.container {
	width: 70vw;
	margin: 0 auto;
}

canvas {
	margin: 0 auto;
}

.score {
	font-family: 'Russo One', sans-serif;
	position: absolute;
	top: 5px;
	left: 5px;
}

.instructions {
	font-family: 'Russo One', sans-serif;
	letter-spacing: 0.5px;
	position: absolute;
	top: 50px;
	left: 5px;
	font-size: 18px;
}